/* ============ VARIAVEIS ============*/
:root {
    --cor-principal: black;
    --cor-secundaria: #385185;
    --bg-cor: bisque;
}

* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body, html {
    height: 100%;
}

.flex-container {
    display: flex;
    margin: auto;

    width: auto;
    min-height: 100%;
}

.flex-container img {
    margin: 20px;
}

.flex-container.central {
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    background-image: url('imgs/bg.jpg');
    background-size: cover;
}

.flex-container.central .logo-ygo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 100px;
}

.logo-ygo h1{
    text-align: center;
    font-size: 50px;
    color: var(--cor-principal);
    -webkit-text-stroke: 1px white;
    max-width: 600px;
}

.flex-container .container-secundario {
    flex-direction: column;
}

.flex-container .login {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 100px;

    width: 300px; 
    height: auto; 
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;

    border: 2px solid var(--cor-principal);
    border-radius: 15px;

    background-color: var(--bg-cor);
}

.login .campo {
    margin-block: 5px;

    padding-left: 10px;

    width: 217px;
    height: 40px;

    border: 1px solid --cor-principal;
    border-radius: 15px;
}

.login .logo2 {
    margin-block: 40px;
    margin-inline: 20px;
}

.login a {
    text-decoration: none;
}

.login h4 {
    color: black;
}

.login .botao {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;

    font-weight: 700;

    color: white;
    background-color: #FF0809;
    border: none;
    border-radius: 15px;
}

.login p {
    font-weight: 700;
}

.login button {
    margin-top: 10px;
    width: 200px;
    height: 40px;

    border-radius: 15px;
}

.login button .facebook {
    color: #385185;
}

.login button .google {
    color: #FF0809;
}

.login .botao-fb {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #385185;
    border: 2px solid #385185;
}

.login .botao-gm {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #FF0809;
    border: 2px solid #FF0809;
}

.login .botao-fb svg {
    margin-inline: 5px;
}

.cadastro {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;

width: 300px;
height: auto;
padding-block: 20px;

border: 2px solid var(--cor-principal);
border-radius: 15px;

background-color: var(--bg-cor);
}

.container-secundario .cadastro a {
    text-decoration: none;
    color: black;
}

 .container-secundario .cadastro strong {
    color: #FF0809;
 }

 .container-secundario h5 p {
    display: flex;
    justify-content: center;

    margin-inline: 5px;
    margin-top: 10px;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 20px;
    color: var(--cor-principal);
 }

 .container-secundario .lojas {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
 }

 .container-secundario .lojas svg {
    width: 50%;

    margin-top: 5px;
    margin-inline: 5px;

 }

 /* ============ MOBILE ============*/
 @media(max-width: 992px) {
    .flex-container.central,
    .flex-container .logo-ygo, 
    .flex-container .container-secundario,
    .flex-container .login
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .flex-container.central .logo-ygo svg {
        width: 90%;
    }

    .flex-container.central .logo-ygo h1 {
        text-align: center;
        font-size: 32px;
    }

    .flex-container .login {
        width: 260px;
        margin-inline:  0;
    }

    .flex-container .login svg {
        width: 80%;
    }

    .container-secundario .login .botao-fb svg {
        width: 25px;
    }

    .container-secundario .login .botao-gm svg {
        width: 25px;
        margin-inline: 5px;
    }

    .flex-container.central .logo-ygo {
        margin-inline: 0;
        margin-block: auto;
    }

    .container-secundario h5 p {
        margin-inline: 0;
    }

    .container-secundario .cadastro,
    .container-secundario .lojas {
        width: 260px;
    }

}
